
@font-face {
    font-family: Mark;
    src: url(../fonts/mark_pro.otf);
}

$spacer: 3rem !default;

$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  6: ($spacer * 2),
  7: ($spacer * 3),
  8: ($spacer * 6),
), $spacers);

$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$purple: #372087;
$purpleLight: #5E27F4;
$purpleDark: #563C9B;

$opacityBlue: rgba(43, 176, 233, 0.281);

$yellow: #C6BD3D;
$pink: #E4468C;
$blue: #062085;

$purpleGradient: linear-gradient(to bottom, $purpleLight, $purpleDark);
$bannerGradient: linear-gradient(to right, $purpleDark, $opacityBlue);
$darkGraident: linear-gradient(to right, rgba(0, 0, 0, 0.137), $opacityBlue);
$darkGraident: linear-gradient(to right, rgba(94, 39, 244, 0), $opacityBlue);
$bgLightGradient: linear-gradient(to top left, rgb(91, 176, 210), #216DDF);

.animate {
	transition: all 1s $easeOutBack;

	&.slow {
		transition: all 2s $easeOutBack;
	}

	&.easeOut {
		transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
	}
}

@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Optional
// @import "../bootstrap/scss/reboot";
// @import "../bootstrap/scss/type";
// @import "../bootstrap/scss/images";
// @import "../bootstrap/scss/code";
// @import "../bootstrap/scss/grid";

::selection {
  background: #2BB0E9;
  color: white;
}
::-moz-selection {
  background: #2BB0E9;
  color: white;
}

html {
	-webkit-font-smoothing: antialiased;
}

html.isSafari {
	-webkit-font-smoothing: subpixel-antialiased;

	section.nav-section {
		font-weight: 600;
	}
}

body {
	background: white;
	overflow-x: hidden;
	overflow-y: visible;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-family: Mark;
}

.img-fluid {
	width: 100%;
}

.trigger{
	width: 100px;
	height: 2px;
	position: fixed;
	top: 70%;
	left: 0;
	background: red;
	opacity: 0;
	z-index: 100;
}

.trigger-middle {
	top: 45%;
}

.trigger-top {
	top: 9%;
}


section {
	position: relative;
	overflow: hidden;
	background:white;
	z-index: 1;

	.container {
		position: relative;
		z-index: 4;
	}

	.manifesto-header {
		position: absolute;

		&.show {
			position: fixed;
			top: 9%;
		}
	}

	.manifesto {
		@extend .d-flex;
		@extend .justify-content-center;
		@extend .align-items-center;
		@extend .py-8;

		img {
			position: absolute;

			opacity: 0;
			transform: translate(0, 20px);

			@extend .animate;

			&.show {
				opacity: 1;
				transform: translate(0, 0px);
			}
		}

	}

	.manifesto-title {
		// color: #9280D6;
		opacity: .2;
		// -webkit-filter: blur(2px); /* Safari */
    	// filter: blur(2px);
		color: white;
		@extend .animate;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);

		img {
			opacity: 0;
			transform: translate(0, 20px);
			@extend .animate.slow;
		}

		&.show {
			opacity: 1;
			// -webkit-filter: blur(0px); /* Safari */
    		// filter: blur(0px);
			// color: white;

			img {
				opacity: 1;
				transform: translate(0, 00px);
			}
		}
	}

	.btn {
		color: $purple;
		border-radius: 200px !important;
		background: white;
		@extend .animate.easeOut;
		border: none;

		&:hover {
			background: #211F3D;
			background: rgb(192, 236, 255);
		}
	}

	.angle {
		position: absolute;
		-webkit-clip-path: polygon(0% 0px, 170px 200px, 100% 100%, 0 100%);
		clip-path: polygon(0% 0px, 170px 200px, 100% 100%, 0 100%);
		will-change: clip-path;
		left: 0;
		height: 270px;
		width: 100%;
		z-index: 5;

		&.top {
			background: $purpleDark;
			transform: rotate(180deg);
			top: -1px;
		}

		&.fixed {
			position: fixed;
			left: 0;
			top: 70px;
		}

		&.bottom {
			background: $purpleLight;
			bottom: -1px;
		}

		&.bg-white {
			background: white;
		}
	}

	&.banner-section {

		@extend .d-flex;
		@extend .justify-content-center;
		@extend .align-items-center;
		@extend .py-8;

		position: relative;
		display: flex;
    	justify-content: center;
    	align-items: end;
		overflow: hidden;

		.gradient-text {
			color: #5CD1CC !important;
		}

		img.bg-img {
			object-fit: cover;
			position: fixed;
			flex-shrink: 0;
    		min-width: 100%;
			min-height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
			z-index: 2;

			@extend .animate.easeOut;
		}

		img.bg-img.hide {
			// opacity: 0;
		}

		img.bg-img.show {
			opacity: 1;
		}

		.container {
			color: white;
			position: relative;
		}

		&:before {
			content: "";
			background: $purpleGradient;
			opacity: 1;
			display: flex;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
		}

		&.dark-gradient {
			&:before {
				// background: $darkGraident;
				background: transparent;
			}
		}

		h1.display-1 {
			position: fixed;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 50%;
			font-size: 300px;
			color: white;
			font-weight: bold;
		}

	}

	&.profile-section {
		@extend .py-5;
		background: $purpleGradient;
	}

	&.content-section {
		@extend .py-5;
		min-height: 500px;
		z-index: 6;

		color: $purple;

		h1 {
			font-weight: bold;
		}

		.list-item {
			opacity: 0;
			transform: translate(150px,0) rotate(5deg) skew(5deg);
			@extend .animate.easeOut;
		}

		.list-item.show {
			opacity: 1;
			transform: translate(0,0) rotate(0) skew(0);

		}

		.lead {
			line-height: 160%;
			letter-spacing: 1px;
		}

		img.content-img {
			opacity: 0;
			transform: translate(150px,0) rotate(5deg) skew(5deg);
			@extend .animate.easeOut;
			cursor: pointer;

			&.show {
				opacity: 1;
				transform: translate(0,0) rotate(0) skew(0);
			}

			&.premium {
				&:hover {
					box-shadow: 0 40px 50px rgba(0,0,0,.15);
					transform: translate(0, -10px);
				}
			}

			&.basic {
				&:hover {
					border-color: white !important;
				}
			}


			&.img-shadow {
				box-shadow: 0 40px 50px rgba(0,0,0,.15);
			}
		}

	}

	&.bg-purple {
		@extend .py-8;
		background: $purpleGradient;
		// background: #593BBF;
		// background-attachment: fixed;
		color: white;
	}

	&.bg-light {
		@extend .py-7;
		background: $bgLightGradient !important;
		background-attachment: fixed;
		color: white;
	}




}

.container {
	position: relative;
	max-width: 1170px;
}

// .profile-section .row {
// 	margin-left: -$grid-gutter-width-large;
// 	margin-right: -$grid-gutter-width-large;
// }

// .profile-container[class^="col-"] {
// 	padding-left: $grid-gutter-width-large;
// 	padding-right: $grid-gutter-width-large;
// }

.scroll-container {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	overflow-y: scroll;
	height: 800px;
}

.profile-container {
	opacity: 0;
	@extend .animate.slow;
	@extend .text-center;
	@extend .mb-5;

	color: white;
	letter-spacing: 1px;

	h4 {
		position: relative;
		@extend .mt-2;
		margin-bottom: 0;
		font-weight: bold;
	}

	p {
		position: relative;
		margin-bottom: 0;
		font-weight: 300;
	}

	.slice {
		background: $pink;
		position: absolute;
		top: 5%;
		width: 50%;
		height: 100%;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%);
		transform: rotate(-5deg);
		z-index: 0;
		opacity: 0;

		@extend .animate;
	}

	.profile {
		@extend .embed-responsive;
		@extend .embed-responsive-1by1;
		@extend .rounded-circle;
		@extend .d-flex;
		@extend .justify-content-center;
		@extend .align-items-center;

		@extend .animate.slow;

		position: relative;
		// background: white;
		overflow: hidden;
		cursor: pointer;

		// opacity: 0;
		// border: solid 10px white;
		box-shadow: 0 10px 40px rgba(0, 0, 0, 0.062);
		transform: translate(0, 100px) rotate(30deg);

		img {
			position: absolute;
			transform: scale(1.2);
			@extend .img-fluid;
			@extend .animate.slow;
			pointer-events: none;
			user-select: none;
			// transform: ;
		}

	}

	&.show {
		opacity: 1;

		.profile {
			transform: translate(-0, 0) rotate(0deg);
		}

		&:hover {
			.profile {
				transform: scale(1.15);
				box-shadow: 0 40px 50px rgba(0,0,0,.1);

				img {
					transform: scale(1.00);
				}
			}

			.slice {
				opacity: 1;
				transform: rotate(5deg);
			}

		}

	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	width: 100%;
	@extend .py-2;
	// background: rgba(0,0,0,.7);
	// background: $purpleGradient;
	// background: rgba(90, 64, 194, 0.699);
	z-index: 7;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	@extend .animate.slow;

	&.show {
		// background: rgba(72, 187, 222, 0.801);
		background: rgba(0, 0, 0, 0.527);
	}

	.nav-item {
		color: rgba(255,255,255,.7);
		@extend .ml-3;

		&.active {
			color: white !important;
			font-weight: bold;
		}
	}

	h2 {
		margin-bottom: 0;
	}
}

.list-item {
	// color: #30B2EA;
	font-weight: 400 !important;
}

.bg-light {
	background: #F3F3F3 !important;
}