
<!-- <section class="nav-section">
		<nav class="container">
			<div class="primary-nav">
				<div class="row top-content justify-content-between">
					<div class="col-auto">
						<img width="218.16" src="images/ucla_logo.png" alt="">
					</div>
					<ul class="nav col-auto">
						<a class="nav-link text-uclaBlue d-none d-lg-flex" href="#">Calendar<span class="ml-2"><img src="images/icons/calendar-icon.png" alt=""></span></a>
						<a style="font-size: 120%;" class="nav-link text-uclaBlue d-flex d-lg-none align-items-center" href="#"><i class="fas fa-bars"></i></a>
					</ul>
				</div>
				<div class="row d-none d-lg-flex bottom-content justify-content-between">
					<ul class="nav col-auto">
						<a class="nav-link" href="#">About</a>
						<a class="nav-link active" href="#">Academics</a>
						<a class="nav-link" href="#">Admissions</a>
						<a class="nav-link" href="#">Ensembles</a>
						<a class="nav-link" href="#">Research</a>
						<a class="nav-link" href="#">News</a>
					</ul>
					<ul class="nav col-auto text-uclaLight">
						<a class="nav-link" href="#">Apply</a>
						<a class="nav-link" href="#">Visit</a>
						<a class="nav-link" href="#">Contact</a>
						<a class="nav-link" href="#">Support Us</a>
						<a class="nav-link" href="#"><img src="images/icons/search-icon.png" alt=""></a>
					</ul>
				</div>
			</div>
			<div class="secondary-nav col-12 col-lg-4 preload">
				<div class="row position-absolute d-flex w-100 d-flex d-lg-none text-white justify-content-end">
					<a style="font-size: 170%;" class="nav-link arrow-up" href="#"><i class="fas fa-angle-up"></i></a>
				</div>

				<ol class="breadcrumb d-none d-lg-flex">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Academics</a></li>
					<li class="breadcrumb-item"><a href="#">Ethnomusicology</a></li>
				</ol>
				<ul class="nav flex-column bottom-content">
					<a href="#" class="text-uclaYellow nav-link title">ETHNOMUSICOLOGY | BA</a>
					<a href="#" class="nav-link">Courses</a>
					<a href="#" class="nav-link">Performance Opportunities</a>
					<a href="#" class="nav-link">Notible Alumni</a>
					<a href="#" class="nav-link">Contact Ethnomusicology</a>
				</ul>
			</div>
		</nav>
	</section> -->



	 $grid-gutter-width-large: 130px !default;

	 // $purpleGradient4: linear-gradient(to right,rgba(85, 60, 155, 0.616), rgba(19, 12, 36, 0.61)); // $purpleGradient5: linear-gradient(to
	top right,#36258481, rgba(32, 14, 49, 0.445)); // $blueGradient: linear-gradient(to bottom right,#2BB0E9, transparent);
	 $darkGradient: linear-gradient(to right, black, transparent);
	 $blueGreenGradient: linear-gradient(to right,#2BB0E9, #5CD1CC);


	 // Optional // @import "../bootstrap/scss/reboot"; // @import "../bootstrap/scss/type"; // @import "../bootstrap/scss/images";
	// @import "../bootstrap/scss/code"; // @import "../bootstrap/scss/grid";


	 .gradient-text { display: inline-block; background: -webkit-linear-gradient(-70deg, #2BB0E9, #5CD1CC); -webkit-background-clip:
	text; -webkit-text-fill-color: transparent; }

	 .gradient-text-white { display: inline-block; background: -webkit-linear-gradient(-70deg, rgb(255, 255, 255), #9B8BD3);
	-webkit-background-clip: text; -webkit-text-fill-color: transparent; }



	<!-- <!-- <section class="profile-section">
			<div class="container">
				<div class="row justify-content-around">
					<?php
					$i = 0;
					for($i; $i < 13; $i++) {
						$rand = rand(1,11);
						?>
						<div class="col-lg-4 col-6 profile-container">
							<div class="slice"></div>

							<div class="profile">
								<img src="images/profiles/circles/<?php echo $rand ?>@2x.png" alt="profile picture">
							</div>

							<h4>First Last</h4>
							<p>Job Title</p>
						</div>
					<?php } ?>

				</div>
			</div>
		</section> -->

	<!-- <section class="banner-section" style="background-image:url(images/backgrounds/berlin.jpg)">
			<div class="angle bottom"></div>
			<h1 class="display-1">Berlin</h1>
			<div class="angle top"></div>
		</section>

		<section class="profile-section">
			<div class="container">
				<div class="row justify-content-around">
					<?php
					$i = 0;
					for($i; $i < 12; $i++) {
						$rand = rand(1,11);
						?>
						<div class="col-lg-4 col-6 profile-container">
							<div class="profile">
								<img src="images/profiles/circles/<?php echo $rand ?>@2x.png" alt="profile picture">
							</div>
							<h4>First Last</h4>
							<p>Job Title</p>
						</div>
					<?php } ?>

				</div>
			</div>
		</section>

		<section class="banner-section" style="background-image:url(images/backgrounds/krakow.jpg)">
			<div class="angle bottom"></div>
			<h1 class="display-1">Krakow</h1>
			<div class="angle top"></div>
		</section> -->


			 // .fixed-bar { // width: 100%; // height: 70px; // background: #564297; // background-color: #564297; // left: 0; // top:
			0; // z-index: 5; // position: fixed; // }



				<section class="banner-section bg-purple team-section large dark-gradient">
					<!-- <div class="fixed-bar"></div> -->
					<div class="angle top"></div>
					<img class="bg-img img-fluid show" src="images/backgrounds/sf-overlay.jpg" alt="">
					<img class="bg-img img-fluid hide" src="images/backgrounds/krakow-overlay.jpg" alt="">
					<img class="bg-img img-fluid hide" src="images/backgrounds/berlin-overlay.jpg" alt="">

					<div class="container">

						<h1 class="mb-5 display-3 team">San Francisco</h1>
						<div class="row justify-content-between">
							<?php
									$i = 1;
									for($i; $i < 13; $i++) {
										$rand = rand(1,11);
										?>
								<div class="col-lg-3 col-6 profile-container">
									<!-- <div class="slice"></div> -->
									<div class="profile">
										<img src="images/profiles/circles/<?php echo $rand ?>@2x.png" alt="profile picture">
									</div>

									<h4>First Last</h4>
									<p>Job Title</p>
								</div>
								<?php
											if ($i % 3 == 0) { ?>
									<div class="w-100"></div>
									<?php } ?>
									<?php } ?>
						</div>

						<h1 class="my-5 display-3 team">Krakow</h1>
						<div class="row justify-content-between">
							<?php
									$i = 1;
									for($i; $i < 4; $i++) {
										$rand = rand(1,11);
										?>
								<div class="col-lg-3 col-6 profile-container">
									<!-- <div class="slice"></div> -->
									<div class="profile">
										<img src="images/profiles/circles/<?php echo $rand ?>@2x.png" alt="profile picture">
									</div>

									<h4>First Last</h4>
									<p>Job Title</p>
								</div>
								<?php
											if ($i % 3 == 0) { ?>
									<div class="w-100"></div>
									<?php } ?>
									<?php } ?>
						</div>

						<h1 class="my-5 display-3 team">Berlin</h1>
						<div class="row justify-content-between">
							<?php
									$i = 1;
									for($i; $i < 7; $i++) {
										$rand = rand(1,11);
										?>
								<div class="col-lg-3 col-6 profile-container">
									<!-- <div class="slice"></div> -->
									<div class="profile">
										<img src="images/profiles/circles/<?php echo $rand ?>@2x.png" alt="profile picture">
									</div>

									<h4>First Last</h4>
									<p>Job Title</p>
								</div>
								<?php
											if ($i % 3 == 0) { ?>
									<div class="w-100"></div>
									<?php } ?>
									<?php } ?>
						</div>

						<h1 class="my-5 display-3 team">Global Support</h1>
						<div class="row justify-content-between">
							<?php
									$i = 1;
									for($i; $i < 13; $i++) {
										$rand = rand(1,11);
										?>
								<div class="col-lg-3 col-6 profile-container">
									<!-- <div class="slice"></div> -->
									<div class="profile">
										<img src="images/profiles/circles/<?php echo $rand ?>@2x.png" alt="profile picture">
									</div>

									<h4>First Last</h4>
									<p>Job Title</p>
								</div>
								<?php
											if ($i % 3 == 0) { ?>
									<div class="w-100"></div>
									<?php } ?>
									<?php } ?>
						</div>
					</div>
					<!-- <div class="angle bottom bg-white"></div> -->
				</section>


					<!-- <?php if ($tc != 1) { ?> -->
						<!-- <div class="col-3 position-absolute">
							<img class="img-fluid" src="images/manifesto/ic-manifesto-0<?php echo $tc ?>.png" alt="">
						</div> -->
						<!-- <?php } ?> -->







						<section class="content-section">
							<div class="angle top bg-white"></div>
							<div class="container">
								<!-- <hr> -->
								<h1>All Features</h1>
								<div class="w-100 mb-5"></div>
								<div class="row">
									<div class="col-4">
										<h3 class="mb-2 font-weight-bold">Lorem Ipsum</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-3"></div>
										<h3 class="mb-2 font-weight-bold">Lorem Ipsum</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
									</div>
									<div class="col-4">
										<h3 class="mb-2 font-weight-bold">Lorem Ipsum</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-3"></div>
										<h3 class="mb-2 font-weight-bold">Lorem Ipsum</h3>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
									</div>
									<div class="col-4">
										<h3 class="mb-2 font-weight-bold">Lorem Ipsum</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-3"></div>
										<h3 class="mb-2 font-weight-bold">Lorem Ipsum</h3>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
										<div class="w-100 mb-2"></div>
										<h5 class="mb-1">Lorem Ipsum</h5>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
									</div>
								</div>
							</div>
							<div class="angle bottom bg-white"></div>
						</section>


						<section class="content-section">
							<div class="angle top bg-white"></div>
							<div class="container">
								<div class="row justify-content-center">
									<h1 class="display-4"> Protect your private life!</h1>
									<div class="w-100"></div>
									<div class="row mt-3">
										<div class="col-auto">
											<div class="btn bg-white">
												<div class="row no-gutters p-1 justify-content-center align-items center">
													<img src="images/icons/apple@2x.png" class="mr-1" alt=""> View on App Store
												</div>
											</div>
										</div>
										<div class="col-auto">
											<div class="btn bg-white">
												<div class="row no-gutters p-1 justify-content-center align-items center">
													<img src="images/icons/google-play@2x.png" class="mr-1" alt=""> Get it on Play Store
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>




							<?php include("partials/partial-meet-the-people.php") ?>

							<?php include("partials/partial-team-1.php") ?>
							<section class="section-content bg-purple" style="background: white"></section>
							<?php include("partials/partial-meet-the-people.php") ?>
							<?php include("partials/partial-team-2.php") ?>